<%- include('partials/header') -%>

<div class="card">
    <h1><img src="images/0b33441ce6a579c2d6b2ef55fa83845e.jpg"width="60%"></h1>
    </div>
    
      
        <div class="card">
          <h3>PRODUCTS</h3>
          <div class="fakeimg"><p><img src="images/dsc1556771029.jpg" width ="50%"></p></div>
       
          <div class="fakeimg"><p><img src="images/fsd1587629672.jpg" width ="50%"></p></div>
          <div class="fakeimg"><p><img src="images/art1587272465.jpg" width ="50%"></p></div>
        </div>
        <div class="card">
          <h3>CỬA HÀNG BOARD GAME VN</h3>
          <p>HỒ CHÍ MINH</p>
         <p>Tầng 4, Vạn Hạnh Mall, 11 Sư Vạn Hạnh, Phường 12, Quận 10, Hồ Chí Minh.</p> 
        </div>
      </div>
    </div>

<%- include('partials/footer') -%>